extends ./layout.jade

head
  block title
    title Cielo Concepts Inc Blog & News - #{blog.title}

  block seo
    meta(charset="utf-8")
    meta(name="robots", content="index, follow")
    //- meta(name="description", content="#{seo.description}")

body.inner-pages
  block content
    div#sb-site
      include ./includes/blog/blog-single-page-intro.jade
      include ./includes/blog/blog-single-wrapper.jade
      