extends ./layout.jade

head
  block title
    title Iotopia Solutions Inc Blog & News

  block seo
    meta(charset="utf-8")
    meta(name="robots", content="index, follow")
    //- meta(name="description", content="#{seo.description}")

body.inner-pages
  block content
    div#sb-site
      include ./includes/blog/blog-page-intro.jade
      include ./includes/blog/blog-wrapper.jade
      
