/*-------------------------------------------------------*/
/* Footer
/*-------------------------------------------------------*/

.footer {

  &.minimal {
    padding: 120px 0;
    text-align: center;
  }

  &.minimal .copyright {
    display: block;
    margin-top: 70px;
    font-size: 10px;
    font-family: $heading-font;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  &.minimal .copyright a {
    color: #909090;
  }

}

.socials {
  a {
    color: $secondary-color;
    &:hover {
      color: $accent-color;
    }
  }

  &.footer-socials a {
    margin: 0 2px;

    &:hover i {
      color: #fff;
      background-color: $secondary-color;
    }
  }

  &.footer-socials i {
    width: 37px;
    height: 37px;
    @include border-radius (50%);
    background-color: #1b1b1b;
    color: #dbdbdb;
    line-height: 37px;
    text-align: center;
    font-size: 14px;
    @include transition ($all);
  }
}
