div.page-intro
  div.header-space(style="height: 72px;")
  div#blog.page-top.page-section.parallax-section
    div(data-bottom-top="background-position: 50% 0px;", data-top-bottom="background-position: 50% -100px;", data-anchor-target="#blog", style="background-image: url('#{blog.featured_image}')").parallax-bg
      div.container
        div.row
          div.col-md-12.text-center
            h2.title= blog.title
            //- p.subtitle laudantium unde ea quasi esse excepturi ipsum atque veniam quam laboriosam hic!
