div.row
  div.col-sm-10.blog
    div.blog-post.mb-4
      if (blog.thumbnail)
        div.post-thumbnail
          img(src="{blog.thumbnail}", alt="")
      div.post-content.post-inner
        h5 
          a(href="/blog") &lt; Back to blog
        h3.post-title= blog.title
        div.post-meta
          span.date
            i.icon-calendar= blog.date
          span.author
            i.icon-user= blog.author
          !{blog.content}
