.white {
	color: #fff !important;
}

.text-center,
%text-center {
	text-align: center;
}

.text-left,
%text-left {
	text-align: left;
}

.text-right,
%text-right {
	text-align: right;
}


.m0,
%m0  { 
	margin: 0;
}

.mt-0,
%mt-0 {
	margin-top: 0;
}

.mt-1,
%mt-1 {
	margin-top: $base;
}

.mt-2,
%mt-2 {
	margin-top: $baseline;
}

.mt-3,
%mt-3 {
	margin-top: $base * 2;
}

.mt-4,
%mt-4 {
	margin-top: $base * 3;
}



.mb-0,
%mb-0 {
	margin-bottom: 0;
}

.mb-half,
%mb-half {
	margin-bottom: $base / 2;
}

.mb-1,
%mb-1 {
	margin-bottom: $base;
}

.mb-2,
%mb-2 {
	margin-bottom: $baseline;
}

.mb-3,
%mb-3 {
	margin-bottom: $base * 2;
}

.mb-4,
%mb-4 {
	margin-bottom: $base * 3;
}

.icon-left {
	margin-right: 10px;
}

.icon-right {
	margin-left: 10px;
}