html {
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	@include box-sizing(border-box);
}

*, *:before, *:after {
  	box-sizing: inherit;
}

body {
	font-family: $body-font;
	color: $base-color;
	font-size: 13px;
	line-height: 1.75;
	text-rendering: optimizeLegibility;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	background: $body-bg;
}

a {
	color: $accent;
	text-decoration: none !important;
	&:hover {
		color: darken($accent, 10%);
	}

  &.secondary {
    color: $secondary-accent;
  }
}

::selection { 
	background: $accent;
	color: $white;
	text-shadow:none
}

::-moz-selection { 
	background: $accent;
	color: $white;
	text-shadow:none
}

::-webkit-selection { 
	background: $accent;
	color: $white;
	text-shadow:none
}

img::selection {
  background-color: transparent;
}

img::-moz-selection {
  background-color: transparent;
}


