div.portfolio-description.mb-4
  div.row
    div.col-md-4.col-sm-4.mb-4
      h3.heading.mb-2 Project Details
      ul.border-list.mb-1
        li
          strong Client: 
          = client.name
        li
          strong Category: 
          = client.category
        if client.url
          li
            strong Website: 
            a(href="#{client.url}", target="_blank")= client.url
        if client.cost
          li
            strong Cost: 
            = client.cost
      if client.url
        a.t-btn.t-btn-default(href="#{client.url}", target="_ blank") Live Site
    div.col-md-8.col-sm-8
      div.row
        div.col-md-12.col-sm-12
          h3.heading.mb-2 Project Description
        div.col-md-6.col-sm-12.mb-2
          p!= paragraph1 
        div.col-md-6.col-sm-12.mb-2
          p!= paragraph2