div.wrapper
  div.container
    div.page-section
      include ./portfolio-header.jade
      include ./portfolio-slider.jade
      include ./portfolio-description.jade
      include ./portfolio-related-items.jade
      include ./portfolio-navigation.jade