div.portfolio-header.mb-4
  div.row
    div.col-md-4.col-sm-4.mb-3
      h5.mb-2.mt-1 Technology:
      div.post-share
        ul
          each val in technology
            li= val
    div#portfolio-summary.col-md-8.col-sm-8
      h3.portfolio-title= projectTitle
      p= topParagraph
