div.seperator
div.related-projects.mt-4
  div.widget-title
    div.row
      div.col-sm-12
        h2 Related Projects
  div.row
    div.portfolio-wrapper 
      div.portfolio-container
        each val in relatedItems
          div.portfolio-post.col-md-4.col-sm-6
            div.portfolio-box.animated(data-animation="fadeIn", data-animation-delay="100")
              a(href="#{val.url}")
                div.portfolio-hover
                  div.hover-info
                    h3= val.label
                    span= val.subLabel
                img(src="#{val.image}", alt="")
