div.widget-title.mb-4(style="margin-top: 20px;")
  div.row
    div#contact-summary.col-md-12.col-sm-12
      h2 Let's take the first step
    div.col-md-4
    div.col-md-4.col-sm-12
      p(style="margin-top: 20px;") We are interested in hearing about your ideas and how we can help. Fill out the form below and we will get back to you as soon as possible.
    div.col-md-4    
